

@import '@fontsource/overpass';
@import "@fontsource/overpass/400.css";
@import "@fontsource/overpass/400-italic.css";



@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    font-family: "Overpass";
}


/* h2{
    padding: 20px 0;
}


h3 {
    padding: 10px 0;
} */
pre{
    margin-bottom: 6px;
}
